@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    object? routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>
    <partial name="Shared/_CheepTimeline"/>
</div>
