@page
@model Chirp.Razor.Pages.Account.LoginModel
@{
    Layout = "../Shared/_Layout";
}

<h2>Log in</h2>

<form method="post">
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
</form>